auth_mechanisms = plain login
{%- if enable %}

recipient_delimiter = {{ recipient_delimiter }}
lda_mailbox_autocreate = yes
lda_mailbox_autosubscribe = yes
listen = *
{%   if mailbox_type == "maildir" -%}
mail_driver = Maildir
mail_path = ~/Maildir
namespace inbox {
  separator = "/"
}
{%   else -%}
mail_driver = mbox
mail_path = ~/mail
{%   endif -%}

sieve_script_active_path = ~/.dovecot.sieve
sieve_script personal {
  path = ~/sieve
}
sieve_script before {
  path = /var/lib/sieve/before.d
}
sieve_script after {
  path = /var/lib/sieve/after.d
}
sieve_script global {
  path = /var/lib/sieve/global
}

sieve_plugins {
  sieve_extprograms = yes
  sieve_imapsieve = yes
}

mailbox SPAM {
  sieve_script report-spam {
    type = before
    cause = copy
    path = /var/lib/sieve/imapsieve
  }
}

imapsieve_from SPAM {
  sieve_script report-ham {
    cause = copy
    type = before
    path = /var/lib/sieve/imapsieve
  }
}

sieve_pipe_bin_dir = /usr/local/libexec/sieve
sieve_filter_bin_dir = /usr/local/libexec/sieve

sieve_global_extensions = vnd.dovecot.pipe vnd.dovecot.execute vnd.dovecot.filter

protocols {
  imap = yes
  sieve = yes
  lmtp = yes
}

service imap-login {
  inet_listener imaps {
    port = 993
    ssl = yes
  }
}

service managesieve-login {
  inet_listener sieve {
    port = 4190
  }
}

protocol lda {
  mail_plugins = sieve
}

protocol imap {
  mail_plugins {
    imap_sieve = yes
  } 
  mail_max_userip_connections = 20
}

{%- endif %}{# enable #}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    group = postfix
    mode = 0666
    user = postfix
  }
  unix_listener auth-userdb {
    mode = 0660
  }
}

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0666
    user = postfix
  }
}

protocol lmtp {
  postmaster_address = postmaster@{{ domain }}
  hostname = {{ hostname }}
  mail_plugins = sieve
  auth_username_format = %{ user | username }
}

mail_access_groups=mail
auth_allow_cleartext = no
{% if enable %}
ssl = required
ssl_server_cert_file = {{ tls_cert_file }}
ssl_server_key_file = {{ tls_key_file }}
ssl_server_dh_file = /etc/dovecot/dh.pem
ssl_server_prefer_ciphers = server # >Dovecot 2.2.6
# ssl_dh_parameters_length = 4096 # >Dovecot 2.2
{% endif %}
