[Interface]
Address = {{ peers[grains.id].subnet.split(",")[0] }}
PrivateKey = {{ privkey }}
SaveConfig = false
ListenPort = {{ port }}
PostUp = {%   for c in peers.values() %}ping -c1 {{ c.subnet.split("/")[0] }} || true ; {% endfor %} /bin/true
{%- for name, c in peers.items() %}
{%-   if name == grains.id %}{% else %}
[Peer]
# {{ name }}
PublicKey = {{ c.pubkey }}
AllowedIPs = {{ c.subnet }}
{%-     if c.address %}
Endpoint = {{ c.address }}:{{ port }}
{%-     endif %}
{%-   endif %}
{%- endfor %}
