# This file is a combination between the default Fedora
# configuration and the Matrix configuration readable at
# https://github.com/matrix-org/synapse/blob/develop/docs/reverse_proxy.md#nginx .
 
user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    # WebSockets.
    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    # End WebSockets.

    ssl_ciphers PROFILE=SYSTEM;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout 10m;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 4096;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    server {
        listen 80 default_server;
        listen [::]:80 default_server;

        server_name {{ grains.id }};

        location / {
            return 301 https://$host$request_uri;
        }

        location /.well-known/acme-challenge {
            # used to get certbot to complete the HTTP challenge 
            root {{ certbot_webroot }};
        }
    }

    include conf.d/vhosts/*.conf;

}
