#!/bin/bash -e

start=$(date +%s.%N)

services=$(
    (
      needs-restart -b {% for p in exclude_paths %} -i {{ p|quote }}{% endfor %} {% if exclude_services %} | grep -E -v {{ "|".join(exclude_services)|quote }} {% endif %} || true
    )
)
move=0
declare -A DATA
for service in $services ; do
  move=1
  if [ -z ${DATA[$service]} ] ; then
    echo "services_pending_restart{service=\"$service\"} 1" >> "$1".$$
    DATA["$service"]=1
  fi
done

end=$(date +%s.%N)

#if [ "$move" == "1" ] ; then
  echo "needs_restart_collector_start_time_seconds $start" >> "$1".$$
  echo "needs_restart_collector_end_time_seconds $end" >> "$1".$$
  mv -f "$1".$$ "$1"
#else
#  rm -f "$1"
#fi
