#!/bin/bash -e

outfile="$1"
echo "$outfile" | grep -q "/" || {
  dir=$(cat /proc/$(pgrep -f ^/usr/bin/node_exporter | head -1)/cmdline | tr '\0' '\n' | grep -- --collector.textfile.directory= | sed 's/^--collector.textfile.directory=//')
  outfile="$dir/$outfile"
  if [ "$dir" == "" ]
  then
    echo "Exiting because there is no node_exporter from which to infer the collector directory yet." >&2
    exit
  fi
}

start=$(date +%s.%N)

services=$(
    (
      needs-restart -b {% for p in exclude_paths %} -i {{ p|quote }}{% endfor %} {% if exclude_services %} | grep -E -v {{ "|".join(exclude_services)|quote }} {% endif %} || true
    )
)
move=0
declare -A DATA
for service in $services ; do
  move=1
  if [ -z ${DATA[$service]} ] ; then
    echo "services_pending_restart{service=\"$service\"} 1" >> "$outfile".$$
    DATA["$service"]=1
  fi
done

end=$(date +%s.%N)

#if [ "$move" == "1" ] ; then
  echo "needs_restart_collector_start_time_seconds $start" >> "$outfile".$$
  echo "needs_restart_collector_end_time_seconds $end" >> "$outfile".$$
  mv -f "$outfile".$$ "$outfile"
#else
#  rm -f "$outfile"
#fi
