#!/bin/bash -e
services=$(
    (
      needs-restart -b {% for p in exclude_paths %} -i {{ p|quote }}{% endfor %} {% if exclude_services %} | egrep -v {{ "|".join(exclude_services)|quote }} {% endif %} || true
      needs-restart -b {% for p in exclude_paths %} -i {{ p|quote }}{% endfor %} | grep ^init.scope$ || true
    )
)
move=0
for service in $services ; do
  move=1
  echo "services_pending_restart{service=\"$service\"} 1" >> "$1".$$
done
if [ "$move" == "1" ] ; then
  mv -f "$1".$$ "$1"
else
  rm -f "$1"
fi
